[submodule "pawmap-backend"]
	path = pawmap-backend
	url = https://github.com/yigithanyigit/pawmap-backend
[submodule "pawmap-frontend"]
	path = pawmap-frontend
	url = https://github.com/yigithanyigit/pawmap-frontend
